:root {
    --primary: #ff6b6b;
    --secondary: #4ecdc4;
    --dark: #2d3436;
    --light: #f9f9f9;
    --shadow: 0 4px 6px rgba(0,0,0,0.1);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: var(--dark);
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

/* Search and Filter Bar */
.search-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

input, select, textarea {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}

/* Form Styling */
#recipe-form-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    max-width: 600px;
    margin: 0 auto 40px auto;
    display:  none; 
    flex-direction: column;
}

.input-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    width: 100%;
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #ee5253;
}

/* Recipe Grid & Cards */
.recipe-grid {
 
   display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.recipecard{
    background-color: #f9f9f9;;
    padding: 20px;
    border-radius: 10px;
    display: flex;
}
 .r-image{
  width: 50%;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
}
.recipe-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    border-top: 5px solid var(--secondary);
    position: relative;
}

.recipe-card h3 {
    margin-top: 0;
    color: var(--primary);
}

.badge {
    background: #e1f5fe;
    color: #0288d1;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    text-transform: uppercase;
}
.btn button{
    width: 48%;
    font-size: 0.8rem;
    padding: 8px;
}
.delete-btn {
    margin-top: 15px;
    background: #ffecf0;
    color: #ff6b6b;
    border: 1px solid #ff6b6b;
    font-size: 0.8rem;
}

.delete-btn:hover {
    background: #ff6b6b;
    color: white;
}